.header {
    display: flex;
    width: 100%;
}
.header__background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
.header__backgroundMobile{
    position: absolute;
    left: 0;
    top: -15px;
    z-index: -2;
}
.footer{
    align-items: center;
    background: #36D6AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    width: 100%;
}
.footer__description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
@media screen and (min-width: 0) {
    .header {
        flex-direction: column;
        .header__logo {
            display: none;
        }
    }
    .header__backgroundMobile{
        width: 320px;
        height: 295px;
    }
    .header__background {
        display: none;
        width: 320px;
        height: 295px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        .header__logo {
            display: inline;
            margin: 63px 0 0 48px;
            width: 128px;
            height: 30.86px;
        }
    }
    .header__backgroundMobile{
        display: none;
    }
    .header__background {
        display: block;
        width: 560.97px;
        height: 470px;
    }
}
@media screen and (min-width: 1440px ){
    .header{
        .header__logo {
            display: inline;
            margin: 63px 0 0 160px;
            width: 128px;
            height: 30.86px;
        }
    }
    
    .header__backgroundMobile{
        display: none;
    }
}