.btn{
    align-items: center;
    background: #FC7071;
    border: #FC7071;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-around;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
}
.userPhoto{
    background: url(../assets/download.png) center / cover no-repeat;
    position: absolute;
}
@media screen and (min-width: 0 ){
    .userPhoto{
        width: 40px;
        height: 40px;
        left: 243px;
        top: 40px;
    }
}
@media screen and (min-width: 768px ){
    .userPhoto{
        width: 48px;
        height: 48px;
        left: 88.28125%;
        top: 52px;
    }
}
@media screen and (min-width: 1440px ){

}